.Builder {
    width: 100%;
    margin: auto;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 300px) and (min-height: 350px){
    .Builder {
        height: 350px;
    }

}

@media (min-width: 500px) and (min-height: 400px){
    .Builder {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1000px) and (min-height: 700px){
    .Builder {
        width: 700px;
        height: 650px;
    }
}
