.Button {
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: 1.5rem;
    background-color: #f6e58d;
    transition: all .25s ease 0s;
    box-shadow: 0 10px #f9ca24;
    border: none;
    outline: none;
}

.Button:active {
    box-shadow: 0 5px #f0932b;
    transform: translateY(5px);
}

.Button .Invert {
    background-color: #FF6347;
    box-shadow: 0 10px #D9391C;
}

.Button .Invert:active {
    box-shadow: 0 5px #B21B00;
    transform: translateY(5px);
}
