.Disabled {
    display: none;
}

.Wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.Overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.SpinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Loader,
.Loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.Loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(15,255,255, 0.2);
    border-right: 1.1em solid rgba(15,255,255, 0.2);
    border-bottom: 1.1em solid rgba(15,255,255, 0.2);
    border-left: 1.1em solid deepskyblue;
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


